@model EURIS.Entities.Catalog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Catalog</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <table>
        <caption>Catalog products</caption>
        @foreach (var item in @Model.Product)
        {
            <tr>
                <td>@item.Code</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = @Model.Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
